<div class="container">

    <div class="modal-dialog">
        <div class="modal-content">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="modal-header">						
            <h4 class="modal-title">Add Product</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="name">Name:</label>
                <input 
                    formControlName="name"
                    id="name" 
                    type="text" 
                    class="form-control">
                <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                    <div *ngIf="f.name.errors?.required">Name is required.</div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="make">Make:</label>
                <input 
                    formControlName="make"
                    id="make" 
                    type="text" 
                    class="form-control">
                <div *ngIf="f.make.touched && f.make.invalid" class="alert alert-danger">
                    <div *ngIf="f.make.errors?.required">Make is required.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="model">Model:</label>
                <input 
                    formControlName="model"
                    id="model" 
                    type="text" 
                    class="form-control">
                <div *ngIf="f.model.touched && f.model.invalid" class="alert alert-danger">
                    <div *ngIf="f.model.errors?.required">Model is required.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="cost">Cost:</label>
                <input 
                    formControlName="cost"
                    id="cost" 
                    type="number" 
                    class="form-control">
                <div *ngIf="f.cost.touched && f.cost.invalid" class="alert alert-danger">
                    <div *ngIf="f.cost.errors?.required">Cost is required.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="createdDate">CreatedDate:</label>
                <input 
                    formControlName="createdDate"
                    id="createdDate" 
                    type="date" 
                    class="form-control">

                <div *ngIf="f.createdDate.touched && f.createdDate.invalid" class="alert alert-danger">
                    <div *ngIf="f.createdDate.errors?.required">Date is required.</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" routerLink="/product/index" class="btn btn-primary">Back</a>
            <input type="submit" class="btn btn-success" [disabled]="!form.valid" value="Add">
        </div>
    </form>
    </div>
    </div>
    </div>


