<div class="container">


    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Request Details</h4>
            </div>
            <div class="container">
            <div>
                <strong>PRODUCTID:</strong>
                <p>{{ request.productid }}</p>
            </div>

            <div>
                <strong>USERID:</strong>
                <p>{{ request.userid }}</p>
            </div>

            <div>
                <strong>PROBLEM:</strong>
                <p>{{ request.problem }}</p>
            </div>

            <div>
                <strong>DESCRIPTION:</strong>
                <p>{{ request.description }}</p>
            </div>

            <div>
                <strong>STATUS:</strong>
                <p>{{ request.status }}</p>
            </div>

            <div>
                <strong>RequestedDate:</strong>
                <p>{{ request.requestDate | date }}</p>
            </div>
            <div class="modal-footer">
                <a href="#" routerLink="/request/index" class="btn btn-primary">Back</a>
            </div>
            </div>
        </div>
    </div>
</div>